.git
.cursor
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.env
.env.*
!.env.example
tests
.phpunit.result.cache
npm-debug.log
.DS_Store
